<div class="mbalance">
    <div class="bg">
        <table class="table ">
            <thead>
                <tr>
                    <th>No</th>
                    <th>type</th>
                    <th>Message</th>
                    <th>Transaction amount</th>    
                    <!-- <th>Current Amount</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dummyarray[0];let i=index">
                <td>{{i+1}}</td>
                <td>{{data.type}}</td>
                <td>{{data.message}}</td>
                <td>{{data.amount}}</td>
                <!-- <td>{{data.Current}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>